* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(gambar/Bg.jpg);
}
nav {
    display: flex;
    background-color: #84848481;
}
input {
    background-color: #dbdbdb;
    -webkit-text-fill-color: #777777;
    font-size: 90%;
    margin-left: 70%;
    margin-top: 4%;
    border-radius: 6px;
    padding-right: 20px;
    padding-left: 10px;
}
img {
  width: 40%;
  margin-top: 10%;
  transform: translateX(73%);
  box-shadow: 2px 2px #0000006c;
}
.perpus {
    font-family: Asap Condensed;
    font-size: 170%;
    margin-left: 1%;
    background-image: linear-gradient(to bottom, rgb(156, 156, 156), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: black 0.6px;
  }
.buku h2 {
  text-align: center;
  font-family: Patrick Hand;
  font-size: 200%;
  margin-top: 1%;
  -webkit-text-stroke: 0.2px white;
}
h3 {
  text-align: center;
  font-family: Asap Condensed;
  font-size: 110%;
  -webkit-text-stroke: 0.2px white;
  margin-top: 2%;
}
.none {
  display: none;
}
.list {
  text-align: end;
  font-size: 30px;
}
@media only screen and (min-width: 1200px) {
    input {
        margin-left: 400%;
        margin-top: 3%;
    }
    .buku h2 {
  text-align: center;
  font-family: Patrick Hand;
  font-size: 300%;
  margin-top: 1%;
  -webkit-text-stroke: 0.1px white;
}
h3 {
  text-align: center;
  font-family: Asap Condensed;
  font-size: 200%;
  -webkit-text-stroke: 0.2px white;
  margin-top: 2%;
}
img {
  width: 20%;
  margin-top: 10%;
  transform: translateX(200%);
  box-shadow: 2px 2px #0000006c;
}
}
.book1 {
    opacity: 0;
    animation: Show 0.8s 0.1s linear 1 forwards;
    animation-delay: 0.8s;
}
.book2 {
    opacity: 0;
    animation: Show 0.8s 0.1s linear 1 forwards;
    animation-delay: 1.1s;
}
.book3 {
    opacity: 0;
    animation: Show 0.8s 0.1s linear 1 forwards;
    animation-delay: 1.4s;
}
.book4 {
    opacity: 0;
    animation: Show 0.8s 0.1s linear 1 forwards;
    animation-delay: 1.7s;
}
.book5 {
    opacity: 0;
    animation: Show 0.8s 0.1s linear 1 forwards;
    animation-delay: 2s;
}
.book6 {
    opacity: 0;
    animation: Show 0.8s 0.1s linear 1 forwards;
    animation-delay: 2.3s;
}
@keyframes Show {
    to {
        opacity: 1
    }
}
@media only screen and (min-width: 1600px) {
    input {
        margin-left: 600%;
}
}
