* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    background-color: orange;
}
nav {
    display: flex;
    background-color: yellow;
}
input {
    border-color: red;
    background-color: #dbdbdb;
    -webkit-text-fill-color: #777777;
    font-size: 130%;
    margin-left: 500px;
    margin-top: 6px;
    border-radius: 6px;
    padding-right: 20px;
    padding-left: 10px;
}   
.perpus {
    font-family: Asap Condensed;
    font-size: 33px;
    margin-left: 20px;
    background-image: linear-gradient(to bottom, rgb(156, 156, 156), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.6px;
}
img {
    justify-content: space-evenly;
    margin-top: 10px;
}
.naruto {
    margin-top: 15px;
    width: 250px;
}
.nrt {
  font-size: 35px;
  font-family: Black Ops One;
  text-align: center;
}
.Mk {
  font-size: 26px;
  font-family: Asap Condensed;
}
.one-piece {
    width: 250px;
    margin-top: 15px;
}   
.demon {
    width: 250px;
}
.jujutsu {
  width: 250px;
}
table {
  border-spacing: 10px;
}
td {
  border: 2px solid white;
}
.op {
  font-size: 35px;
  font-family: Asap Condensed;
  text-align: center;
}
.eo {
  font-size: 30px;
  font-family: Asap Condensed;
}
.dmn {
  font-size: 30px;
  font-family: Patrick Hand;
}
.kg {
  font-size: 22px;
  font-family: Asap Condensed;
}
.jjk {
  font-size: 33px;
  font-family: Big Shoulders Stencil Display;
}
.Ga {
  font-size: 27px;
  font-family: Asap Condensed;
}
.daftar {
  font-family: 'Times New Roman', Times, serif;
  margin-left: 10px;
  font-size: 23px;
  background-image: linear-gradient(to bottom, black, rgb(77, 77, 77));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.2px #ffffff;
}
tbody tr.none {
  display: none;
}
a {
  color: white;
  background-color: blue;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 3px;
  margin-left: 5px;
  border-radius: 3px;
  text-decoration: none;
}
tbody tr td img {
  margin-bottom: 7px;
}
tbody tr td:nth-child(4) {
  text-align: center;
}
tbody tr td:nth-child(1) {
  text-align: center;
}
tbody tr td:nth-child(3) {
  text-align: center;
}
.code {
  width: 250px;
}
.cg {
    font-family: Patrick Hand;
    font-size: 28px;
}
.IO {
  font-family: Asap Condensed;
  font-size: 25px;
}
thead tr td {
  font-family: monospace;
  font-size: 15px;
}
@media only screen and (max-width: 768px) {
.perpus {
  font-size: 30px;
  margin-left: 5px;
  text-align: center;
}
input {
  margin-top: 6%px;
  margin-left: 90%;
  padding-right: 0;
  padding-left: 0;
  font-size: 85%;
}
.naruto {
  width: 150px;
}
.nrt {
  font-size: 24px;
}
.Mk {
  font-size: 13px;
}
.one-piece {
    width: 150px;
}   
.demon {
    width: 150px;
}
.jujutsu {
  width: 150px;
}
.op {
  font-size: 23px;
}
.eo {
  font-size: 15px;
}
.dmn {
  font-size: 20px;
}
.kg {
  font-size: 12px;
}
.jjk {
  font-size: 22px;
}
.Ga {
  font-size: 15px;
}
.code {
  width: 150px;
}
.cg {
    font-family: Patrick Hand;
    font-size: 20px;
}
.IO {
  font-family: Asap Condensed;
  font-size: 15px;
}
}
@media only screen and (min-width: 1200px) {
input {
        margin-left: 270%;
}
}
@media only screen and (min-width: 1600px) {
input {
        margin-left: 340%;
}
}
